* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.video-cont{
height: 100vh;
width: 100wh;
 background-color: black; 
}
video{
height: 100%;
width:100%;
}
.action-btn{
    height: 10rem;
    width: 5rem;
    background-color: transparent;
    position: absolute;
    top:40%;
    left:90%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    z-index: 2;
    border-radius: 15px;
}
.record-cont{
    height: 40%;
    width: 90%;
    border-radius: 50%;
    border: solid 5px wheat;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.capture-cont{
    height: 40%;
    width: 90%;
    border-radius: 50%;
    border: solid 5px wheat;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.record{
height: 70%;
width: 70%;
background-color: red;
border-radius: 50%;
}
.capture{
    height: 70%;
width: 70%;
background-color: white;
border-radius: 50%;
}
.scale-record {
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.scale-capture {
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
@keyframes scale-record {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1)
    }
}
@keyframes scale-capture {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1)
    }
}
.timer-cont{
    height: 2rem;
    width: 6rem;
    position: absolute;
    top: 60%;
    left: 88.5%;
    color: white;
    display: none;
}
.active{
    display: block;
}
.filter-cont{
height: 20rem;
width: 5rem;
/* background-color: red; */
position: absolute;
top: 30%;
left:5%;
z-index: 2;
}
.filter{
    height: 5rem;
    background-image: url("https://picsum.photos/seed/picsum/200/300");
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%,100%;
    background-blend-mode: color-burn;
    background-color: #00ffff2e;
}
.normal{
background-color: #ffffff00;
}
.blue{
background-color: #0000ff54;
}
.red{
background-color: #ff000054;
}
.black{
background-color: #00000082;
}
.filter-color{
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff00;
    z-index: 1;
}


@media screen and (min-width:425px) and (max-width:768px)
{
   
}

@media screen and (max-width:426px)
{
    .action-btn{
        height: 10rem;
        width: 10rem;
        background-color: transparent;
        position: absolute;
        top:76%;
        left:35%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly ;
        align-items: center;
        z-index: 2;
        border-radius: 15px;
    }
}

.material-icons{
color:white;
font-size: 50px;
}
.gallery{
position: absolute;
top: 70%;
right: 6%;
z-index: 2;
}
.gallery:hover{
    cursor: pointer;
}